@page
@model Zadanie1_UI.Pages.AddModel
@{
	ViewData["Title"] = "Add a customer";
}

<h1>Add a new customer</h1>
<form method="post">
	<div>
		<label for="CustomerName" class="form-label">Customer Name</label>
		@if (Model.CurrentCustomer?.Name is not null)
		{
			<input type="text" name="CustomerName" value="@Model.CurrentCustomer.Name" class="form-control" />
		}
		else
		{
			<input type="text" name="CustomerName" class="form-control" />
		}
	</div>
	<div>
		<label for="NIP" class="form-label">NIP:</label>
		@if (Model.CurrentCustomer?.NIP is not null)
		{
			<input type="text" name="NIP" value="@Model.CurrentCustomer.NIP" class="form-control" />
		}
		else
		{
			<input type="text" name="NIP" class="form-control" />
		}
	</div>
	<br />
	<fieldset>
		<legend>Address</legend>
		<div>
			<label for="Street" class="form-label">Street:</label>
			@if (Model.CurrentCustomer?.Address?.Street is not null)
			{
				<input type="text" name="Street" value="@Model.CurrentCustomer.Address.Street" class="form-control" />
			}
			else
			{
				<input type="text" name="Street" class="form-control" />
			}
		</div>
		<div>
			<label for="HouseNumber" class="form-label">House Number:</label>
			@if (Model.CurrentCustomer?.Address?.HouseNumber is not null)
			{
				<input type="text" name="HouseNumber" value="@Model.CurrentCustomer.Address.HouseNumber" class="form-control" />
			}
			else
			{
				<input type="text" name="HouseNumber" class="form-control" />
			}
		</div>
		<div>
			<label for="ZipCode" class="form-label">Zip Code:</label>
			@if (Model.CurrentCustomer?.Address?.ZipCode is not null)
			{
				<input type="text" name="ZipCode" value="@Model.CurrentCustomer.Address.ZipCode" class="form-control" />
			}
			else
			{
				<input type="text" name="ZipCode"class="form-control" />
			}
		</div>
		<div>
			<label for="City" class="form-label">City:</label>
			@if (Model.CurrentCustomer?.Address?.City is not null)
			{
				<input type="text" name="City" value="@Model.CurrentCustomer.Address.City" class="form-control" />
			}
			else
			{
				<input type="text" name="City" class="form-control" />
			}
		</div>
		<div>
			<label for="Country" class="form-label">Country:</label>
			@if (Model.CurrentCustomer?.Address?.Country is not null)
			{
				<input type="text" name="Country" value="@Model.CurrentCustomer.Address.Country" class="form-control" />
			}
			else
			{
				<input type="text" name="Country" class="form-control" />
			}

		</div>
	</fieldset>
	@foreach (var message in Model.ErrorMessages)
	{
		<p class="text-danger">@message</p>
	}
	<br />
	<input type="submit" value="Save" class="btn btn-primary" />
</form>