@page
@model EditModel
@{
	ViewData["Title"] = "Edit customer";
}

<h1>Edit @Model.CurrentCustomer.Name</h1>
<form method="post">
	<div>
		<label for="CustomerName" class="form-label">Customer Name</label>
		<input type="text" name="CustomerName" value="@Model.CurrentCustomer.Name" class="form-control" />
	</div>
	<div>
		<label for="NIP" class="form-label">NIP:</label>
		<input type="text" name="NIP" value="@Model.CurrentCustomer.NIP" class="form-control" />
	</div>
	<br />
	<fieldset>
		<legend>Address</legend>
		<div>
			<label for="Street" class="form-label">Street:</label>
			<input type="text" name="Street" value="@Model.CurrentCustomer.Address.Street" class="form-control" />
		</div>
		<div>
			<label for="HouseNumber" class="form-label">House Number:</label>
			<input type="text" name="HouseNumber" value="@Model.CurrentCustomer.Address.HouseNumber" class="form-control" />
		</div>
		<div>
			<label for="ZipCode" class="form-label">Zip Code:</label>
			<input type="text" name="ZipCode" value="@Model.CurrentCustomer.Address.ZipCode" class="form-control" />
		</div>
		<div>
			<label for="City" class="form-label">City:</label>
			<input type="text" name="City" value="@Model.CurrentCustomer.Address.City" class="form-control" />
		</div>
		<div>
			<label for="Country" class="form-label">Country:</label>
			<input type="text" name="Country" value="@Model.CurrentCustomer.Address.Country" class="form-control" />
		</div>
	</fieldset>
	@foreach (var message in Model.ErrorMessages)
	{
		<p class="text-danger">@message</p>
	}
	<br/>
	<input type="submit" value="Save" class="btn btn-primary" />
</form>
