@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Customers</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>NIP</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers) {
                <tr>
                    <td>@customer.Name</td>
                    <td>@customer.Address.ToString()</td>
                    <td>@customer.NIP</td>
                    <td><a asp-page="/Edit" asp-route-id="@customer.Id">edit</a></td>
                    <td><a asp-page="/Delete" asp-route-id="@customer.Id">delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a asp-page="/Add">Add a new customer</a>
